body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0 50px 0;

}

.hero-title1,
.section-title12,
.section-title13 {
    color: black;
}

.hero-section {
    background: linear-gradient(to right, #4CAF50, #2F8F40);
    color: white;
    padding: 100px 0;
}

.hero-section h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 1.2em;
    line-height: 1.8;
}

.core-values,
.team,
.contact-info {
    background-color: white;
    padding: 50px 0;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    /* margin-bottom: 30px; */
}

h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.values-grid,
.team-grid {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.value {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
}

.value i {
    font-size: 50px;
    color: #4CAF50;
    margin-bottom: 10px;
}

.team {
    background: linear-gradient(to right, #4CAF50, #2F8F40);
}

.team-container {
    background: linear-gradient(to right, #4CAF50, #2F8F40);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding: 40px 20px;
    flex-wrap: wrap;
    /* 在螢幕較小時圖片換行 */
}

.team-member {
    text-align: center;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    width: 100%;
    height: 550px;
}

.team-member img {
    width: 100%;
    /* 保持寬度為容器的寬度 */
    max-height: 300px;
    /* 限制最大高度為350px */
    object-fit: cover;
    /* 確保圖片按比例裁剪填充 */
    border-radius: 8px;
}

.team-member h3 {
    font-size: 20px;
    /* 字體大小 */
    font-weight: bold;
    /* 字體加粗 */
    color: #333;
    /* 字體顏色 */
    border: 1px solid black;
    /* 黑框 */
    padding: 5px;
    /* 框內間距 */
    display: inline-block;
    /* 讓框隨字體大小縮放 */
    margin-top: 15px;
}

/* 團隊介紹：描述文字樣式 */
.team-member p {
    font-size: 18px;
    /* 字體加大 */
    text-align: left;
    /* 靠左對齊 */
    color: #000000;
    /* 字體顏色 */
    margin: 10px 0;
    /* 間距 */
    line-height: 1.8;
    /* 行距 */

}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 1.2em;
    margin: 10px 0;
    color: #555;
}

ul li i {
    margin-right: 10px;
    color: #4CAF50;
}

/* 響應式設計 */
@media (max-width: 768px) {

    .values-grid,
    .team-grid {
        flex-direction: column;
        align-items: center;
    }

    .value,
    .team-member {
        width: 80%;
    }
}

.team_topic {
    text-align: center;
}

.team_p {
    font-size: 20px;
    color: white;
}

.section-title1 {
    color: white;
}