/* 基本樣式 */
.container {
    max-width: 1200px;
    margin: auto;
}

.form-label {
    font-weight: bold;
}

.form-select,
.form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.btn-success {
    background-color: #28a745;
    color: white;
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 15px;
}

.greenwashing-label,
.risk-level {
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
}

.blue-label {
    background-color: #00b0ff;
    color: white;
}

.gray-label {
    background-color: #bdbdbd;
    color: white;
}

.default-label {
    background-color: #f1f1f1;
}

.red-level {
    background-color: #e74c3c;
    color: white;
}

.yellow-level {
    background-color: #f39c12;
    color: white;
}

.green-level {
    background-color: #2ecc71;
    color: white;
}

.text-center {
    text-align: center;
}

.text-muted {
    color: #6c757d;
}

.text-danger {
    color: #dc3545;
}